<div class="container animated fadeIn ">

    <div class="row justify-content-center" style="margin-top:30%;">

        <p class="text-center">Inicia tu negocio con <b>PAULA!</b> Te ofrecemos una red de ventas (distribuidores) a nivel nacional con presencia en las 12 principales ciudades del país. Ofrecemos más de 250 fragancias distintas para mujer, hombre y niños.</p>
        <button class="btn-violeta btn-primary align-center btnUnirse" (click)="goUnete()">  Únete  </button>



    </div>




</div>