<div class="container mt-2 animated fadeIn ">
    <p class=" text-center "><b>¡Hola Laura Bienvenida a PaulaColombia! <br>
            Nos hace muy feliz que pertenezcas a esta familia</b></p>
    <div class="box border border-primary">

        <div class="row text-left">
            <div class="col-6 ">
                <label><b> Recomendante: </b></label>
                <p style="display: inline; margin-left: 3%">{{datos.recomendante}}</p>

            </div>

        </div>
        <div class="row text-left">
            <div class="col ">
                <label style="display:block "><b> Nombres:</b></label>
                <p>{{datos.nombres}}</p>
            </div>
            <div class="col ">
                <label style="display:block "><b>Apellidos:</b></label>
                <p>{{datos.apellidos}}</p>
            </div>


        </div>

        <div class="row text-left ">
            <div class="col ">
                <label style="display:block "><b>Nº de documento:</b></label>
                <p>{{datos.dni}}</p>
            </div>
            <div class="col ">
                <label style="display:block "><b>Telefono celular:</b></label>
                <p>{{datos.celular}}</p>
            </div>
        </div>
        <div class="row text-left ">
            <div class="col ">
                <label style="display:block "><b>Correo electronico:</b></label>
                <p>{{datos.correo}}</p>
            </div>
            <div class="col ">
                <label style="display:block "><b>Telefono fijo:</b></label>
                <p>{{datos.fijo}}</p>
            </div>


        </div>
        <div class="row text-left ">
            <div class="col ">
                <label style="display:block "><b>Nombre favorito:</b></label>
                <p>{{datos.alias}}</p>
            </div>
            <div class="col ">
                <label style="display:block "><b>Departamento:</b></label>
                <p>{{datos.depto}}</p>
            </div>


        </div>
        <div class="row text-left ">
            <div class="col ">
                <label style="display:block "><b>Ciudad:</b></label>
                <p>{{datos.ciudad}}</p>
            </div>
            <div class="col ">
                <label style="display:block "><b>Barrio:</b></label>
                <p>{{datos.barrio}}</p>
            </div>
        </div>
        <div class="row text-left ">
            <div class="col-6 ">
                <label style="display:block "><b>Dirección:</b></label>
                <p>{{datos.direccion}}</p>
            </div>
        </div>

    </div>
</div>