<div>
    <p class="text-center"><b>¡Hola Laura Bienvenida a PaulaColombia! <br>
            Nos hace muy feliz que pertenezcas a esta familia</b></p>
    <div class="container">

        <div class="row">
            <div class="col">
                <p>Recomendante: </p>
                <p>{{datos.recomendante}}</p>

            </div>

        </div>
        <div class="row">
            <div class="col">
                <p style="display:block">Nombres:</p>
                <p>{{datos.nombres}}</p>
            </div>
            <div class="col">
                <p style="display:block">Apellidos:</p>
                <p>{{datos.apellidos}}</p>
            </div>


        </div>

        <div class="row">
            <div class="col">
                <p style="display:block">Nº de documento:</p>
                <p>{{datos.dni}}</p>
            </div>
            <div class="col">
                <p style="display:block">Telefono celular:</p>
                <p>{{datos.celular}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="display:block">Correo electronico:</p>
                <p>{{datos.correo}}</p>
            </div>
            <div class="col">
                <p style="display:block">Telefono fijo:</p>
                <p>{{datos.fijo}}</p>
            </div>


        </div>
        <div class="row">
            <div class="col">
                <p style="display:block">Nombre favorito:</p>
                <p>{{datos.alias}}</p>
            </div>
            <div class="col">
                <p style="display:block">Departamento:</p>
                <p>{{datos.depto}}</p>
            </div>


        </div>
        <div class="row">
            <div class="col">
                <p style="display:block">Ciudad:</p>
                <p>{{datos.ciudad}}</p>
            </div>
            <div class="col">
                <p style="display:block">Barrio</p>
                <p>{{datos.barrio}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="display:block">Dirección:</p>
                <p>{{datos.direccion}}</p>
            </div>
        </div>

    </div>
</div>