input[type="text"],
.form-control {
    width: 50%!important;
}

input[type="number"] {
    width: 30%!important;
    margin-left: 1%;
    display: inline-block
}

.linea {
    margin-left: 1%;
    margin-right: 1%
}

btn-add {
    padding: 0%;
    border: 2px solid #8A2BE2!important;
    color: #8A2BE2!important;
}

.btn-outline-primary {
    padding-left: 15%!important;
    padding-right: 15%!important
}

div.col-md-6 {
    max-width: none;
    display: block;
}