<nav class="navbar ">
    <div class="row ">
        <div class="col-10">
            <h1 class=" alignCentro">Paula Colombia</h1>
        </div>

        <!-- <div class="col"> -->


        <a [routerLink]="['detalle']">
            <i class="material-icons icons" style="font-size:42px; display: inline-block;"> 
                    shopping_cart
                </i>
        </a>

        <div class="pull-right">
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user-circle icons" style="font-size:40px; "></i>

                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            Salir
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <!-- </div> -->
    </div>


</nav>