    .navbar {
        background-color: blueviolet;
        color: white;
        font-family: 'Lucida Sans';
    }
    
    i {
        display: inline
    }
    
    .row {
        display: contents;
    }
    
    .icons {
        white-space: normal;
    }
    
    h1 {
        margin-left: 23%;
    }