<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush text-center" style=" position: -webkit-sticky;position: sticky;top: 11%;display: flex;">
        <a [routerLink]="['perfil']" class="list-group-item list-group-item-action " routerLinkActive="active">
            <i class="far fa-address-card" style="font-size:30px;float:left"></i>Perfil
        </a>
        <a [routerLink]="['comision']" class="list-group-item list-group-item-action " routerLinkActive="active">
            <i class="fas fa-users" style="font-size:30px;float:left"></i> Estructura de comisiones
        </a>
        <a [routerLink]="['pedidos']" class="list-group-item list-group-item-action " routerLinkActive="active">
            <i class="fas fa-tags" style="font-size:30px;float:left"></i> Pedidos
        </a>
        <a [routerLink]="['config']" class="list-group-item list-group-item-action " routerLinkActive="active">
            <i class="fas fa-cogs" style="font-size:30px;float:left"></i> Configuración
        </a>

    </div>
</div>
<!-- /#sidebar-wrapper -->


<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        
        <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['heroes']">heroes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['about']">About</a>
        </li>
    </ul>


    <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar Heroe" (keyup.enter)="buscarHeroe(buscarTexto.value)" #buscarTexto>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="buscarHeroe(buscarTexto.value)">Buscar</button>
    </div>
</div> -->