#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
}

.list-group-item {
    color: white;
    background-color: #8A2BE2;
    font-weight: 420;
}

a[routerLinkActive='active']:hover {
    background: #b065f7;
}


/* color de opcion de menu seleccionada, la clase se asigna al renderizar el link */

.active {
    background: #b065f7;
}